.Body {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.Body h1 {
  position: relative;
  text-align: center;
  margin: 40px 0px;
  display: grid;
  padding: 10px;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.Body .des {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0px 30px;
  padding-bottom: 25px;
  text-align: justify;
  display: grid;
  place-items: center;
}

.Body .GenericsContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Body .GenericsContainer .GenericBox {
  position: relative;
  flex: 1 1 300px;
  max-width: 250px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  box-shadow: 2px 2px 4px grey;
  border: 2px solid #4597b3;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  margin: 20px;
  transition: background-color 350ms;
  cursor: pointer;
}

.Body .GenericsContainer .GenericBox:hover {
}

.Body .GenericsContainer .GenericBox h4 {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0px 10px;
  padding: 5px;
  border-radius: 5px;
}

.Body .GenericsContainer .GenericBox .arrowContainer {
  position: absolute;
  width: 30px;
  height: 30px;
  display: grid;
  right: 30px;
  bottom: 20px;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.Body .GenericsContainer .GenericBox .arrowContainer svg {
  width: 60%;
  height: 60%;
  fill: #66cdd3;
}

.Body .GenericsContainer .GenericBox img {
  width: 100%;
  height: auto;
}
