/* 

width: 100%
height: 100%

*/
/* 

display: flex;
justify-content: center;
align-items:center;
flex-direction: column;

*/

.HomeSection {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.HomeSection .Banner {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.HomeSection .Banner .logosContainer {
  position: absolute;
  margin: auto 0px;
  right: 30px;
  width: 40px;
  height: auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.HomeSection .Banner .logosContainer div {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  margin: 10px 0px;
  opacity: 0.5;
  transition: opacity 300ms;
  cursor: pointer;
}

.HomeSection .Banner .logosContainer .instagram {
  background-color: rgba(188, 7, 73, 0.7);
}

.HomeSection .Banner .logosContainer .facebook {
  background-color: rgb(15, 46, 185, 0.7);
}

.HomeSection .Banner .logosContainer .whatsapp {
  background-color: rgb(38, 219, 95, 0.7);
}

.HomeSection .Banner .logosContainer .linkedin {
  background-color: rgb(27, 209, 234, 0.7);
}

.HomeSection .Banner .logosContainer .twitter {
  background-color: rgb(21, 125, 228, 0.7);
}

.HomeSection .Banner .logosContainer div svg {
  position: relative;
  width: 65%;
  height: 65%;
  fill: white;
}

.HomeSection .Banner .logosContainer div:hover {
  opacity: 1;
}

.HomeSection .Banner h1 {
  margin-left: clamp(0px, 5vw, 50px);
  font-size: 2.5rem;
  margin-bottom: 10px;
  z-index: 1;
  color: white;
  font-weight: bolder;
}

.HomeSection .Banner h2 {
  margin-left: clamp(0px, 5vw, 50px);
  font-size: 1.2rem;
  font-weight: normal;
  color: white;
  z-index: 1;
}

.HomeSection .Banner .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  z-index: 0;
}

.HomeSection .Banner .bg::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.HomeSection .Banner .bg img {
  position: absolute;
  width: 100%;
  height: auto;
  background-size: cover;
}

.HomeSection .Nav {
  position: relative;
  width: min(100%, 950px);
  height: 70px;
  margin-left: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.HomeSection .Nav .shoppingCart {
  position: relative;
  width: auto;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.HomeSection .Nav .shoppingCart svg {
  width: 25px;
  height: 25px;
}

.HomeSection .Nav .shoppingCart p {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 5px;
}

.HomeSection .Nav .NavItem {
  position: relative;
  height: 70%;
  display: grid;
  place-items: center;
  border-bottom: 2px solid red;
  font-weight: bolder;
  font-size: 0.8rem;
}

.HomeSection .Nav .logoContainer {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 80%;
  display: grid;
  place-items: center;
}

.HomeSection .Nav .logoContainer img {
  position: relative;
  height: 100%;
  width: 100%;
}

.HomeSection .BodySection {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f7f6f8;
}

.HomeSection .ProductsCenter {
  position: relative;
  width: 25%;
  height: 90%;
}

.HomeSection .ProductsCenter h3 {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.HomeSection .ProductsCenter .Box {
  position: relative;
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(174, 174, 174, 0.4);
  margin: 13px auto;
  padding: 0px 10px;
  cursor: pointer;
}

.HomeSection .ProductsCenter .Box:hover svg {
  transform: translateX(5px);
}

.HomeSection .ProductsCenter .Box svg {
  position: relative;
  width: 20px;
  height: 20px;
  color: red;
  transition: transform 350ms;
}

.HomeSection .SolutionsCenter {
  position: relative;
  width: 65%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  overflow: scroll;
}

.HomeSection .SolutionsCenter h2 {
  position: absolute;
  top: 0px;
}

.HomeSection .SolutionsCenter .Box {
  flex: 1 1 300px;
  margin: 10px;
  max-width: 170px;
  height: 170px;
  display: grid;
  place-items: center;
  overflow: hidden;
  cursor: pointer;
}

.HomeSection .SolutionsCenter .Box:hover p {
  color: red;
}

.HomeSection .SolutionsCenter .Box img {
  width: 100%;
  height: 100%;
}

.HomeSection .SolutionsCenter .Box p {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #e0e0e0;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 0px 10px;
  font-size: 0.8rem;
  font-weight: 500;
  transition: color 300ms;
}

.HomeSection .SolutionsCenter .DownloadsContainer {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #eae8e8;
}

.HomeSection .SolutionsCenter .DownloadsContainer h4 {
  width: 100px;
  padding-left: 20px;
  font-size: 0.9rem;
}

.HomeSection .SolutionsCenter .DownloadsContainer span {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  height: 60%;
  align-items: center;
  cursor: pointer;
}

.HomeSection .SolutionsCenter .DownloadsContainer span:hover svg {
  fill: red;
}

.HomeSection .SolutionsCenter .DownloadsContainer span svg {
  width: 30px;
  height: 30px;
  transition: fill 350ms;
}

.HomeSection .SolutionsCenter .DownloadsContainer span p {
  font-size: 0.7rem;
  padding: 0px 10px;
}

.HomeSection .FooterSection {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.HomeSection .FooterSection .column {
  position: relative;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: space-around;
  flex-direction: column;
  padding-top: 30px;
}

.HomeSection .FooterSection .column a {
  position: relative;
  margin: 5px 0px;
  font-size: 0.8rem;
  margin-left: 15px;
}

.HomeSection .FooterSection .column h4 {
  margin-left: 15px;
  position: relative;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
